# сначала исключаем все скрытые файлы и директории
.*

# теперь указываем исключения:
!.gitignore
!.github
!.pre-commit-config.yaml

# исключаем кэш Python
**/__pycache__/

# исключаем конфиг виртуального окружения
pyvenv.cfg