# Исключаем скрытые файлы и директории
.*

# Но не игнорируем сам .gitignore
!.gitignore

# Не игнорируем .github
!.github

# Не игнорируем .pre-commit-config.yaml
!.pre-commit-config.yaml

# Игнорируем генерируемые Python кэш-файлы
**/__pycache__/

# Игнорируем pyvenv.cfg
pyvenv.cfg

# Игнорируем *.db файлы
*.db

# Игнорируем *.log файлы
*.log
