--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
transformers
torch
httpx
more information:
https://www.uvicorn.org/
https://fastapi.tiangolo.com/
https://huggingface.co/docs/transformers/index
